/* 기본 네비게이션 바 스타일 */
.header-container .navbar {
  background-color: black;
  padding: 0.7rem 1rem;
}

.header-container .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* 로고 스타일 */
.header-container .logo-icon {
  color: #4caf50;
  font-size: 1.5rem;
}

/* 오른쪽 컨테이너 스타일 */
.header-container .navbar-end {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.header-container .right-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: -0.55rem;
}

/* 사용자 메뉴 스타일 */
.header-container .user-menu-container {
  margin-bottom: 0.3rem;
}

.header-container #user-menu {
  display: flex;
}

.header-container #user-menu a {
  color: white;
  font-size: 0.9rem;
  margin-left: 1rem;
  text-decoration: none;
  background-color: transparent;
  transition: text-decoration 0.3s ease;
}

.header-container #user-menu a:hover {
  text-decoration: underline;
  background-color: transparent !important;
}

/* 검색 컨테이너 스타일 */
.header-container .search-container {
  width: 300px;
  margin-bottom: 0.15rem;
}

.header-container .search-input {
  background-color: white;
  border: none;
  color: black;
  height: 2rem;
}

.header-container .search-input::placeholder {
  color: #888;
}

.header-container .search-button {
  background-color: white;
  border: none;
  height: 2rem;
}

.header-container .search-icon {
  color: black;
  font-size: 0.9rem;
}

/* 두 번째 네비게이션 바 스타일 */
.header-container .secondary-navbar {
  background-color: black;
  border-top: 1px solid #333;
  padding-top: 0.15rem;
}

.header-container .secondary-navbar .navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container .secondary-navbar .navbar-item {
   color: white !important;
   position: relative;
}

.header-container .secondary-navbar .navbar-item::after {
   content: '';
   position: absolute;
   width: 100%;
   height: 2px;
   bottom: -2px;
   left: 0;
   background-color: #4caf50;
   visibility: hidden;
   transform: scaleX(0);
   transition: all 0.3s ease-in-out;
}

.header-container .secondary-navbar .navbar-item:hover::after,
.header-container .secondary-navbar .navbar-item.is-active::after {
  visibility: visible;
  transform: scaleX(1);
}

.header-container .secondary-navbar .navbar-item:hover,
.header-container .secondary-navbar .navbar-item.is-active {
  background-color: transparent !important;
  color: #4caf50 !important;
}

.header-container .secondary-navbar .sale-item::after {
  background-color: red;
}

.header-container .secondary-navbar .sale-item:hover,
.header-container .secondary-navbar .sale-item.is-active {
  color: red !important;
}

.header-container .secondary-navbar .navbar-end {
  margin-left: auto;
}

/* 카테고리 테마 구분선 스타일 */
.header-container .secondary-navbar .navbar-divider {
  height: 1.4rem;
  width: 1px;
  background-color: #e0e0e0;
  margin: 0.5rem 0.75rem;
  align-self: center;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media screen and (max-width: 1023px) {
  .header-container .navbar-menu {
    display: none;
  }

  .header-container .navbar-menu.is-active {
    display: block;
  }

  .header-container .right-container {
    width: 100%;
  }

  .header-container .search-container {
    width: 100%;
  }
}