/* home.css */
.key-item-card {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.key-item-card:hover {
    transform: scale(1.05);
}

.key-item-image {
    border-radius: 50%;
    overflow: hidden;
}

.pagination-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.product-card {
    height: 100%;
}

.product-card .card-image {
    height: 200px;
    overflow: hidden;
}

.product-card .card-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}


.buttons.is-centered {
    justify-content: center;
}

.custom-button {
    min-width: 150px;
    margin: 0.5rem;
    transition: all 0.3s ease;
}

.custom-button:hover,
.custom-button.is-selected {
    background-color: black !important;
    color: white !important;
    border-color: black !important;
}

#product-filter .buttons:not(:last-child) {
    margin-bottom: 1.5rem;
}